@font-face {
	font-family: pembroke;
	src: url(../fonts/pemw-rg.ttf);
}

@font-face {
	font-family: aspect;
	src: url(../fonts/aspw-lt.ttf);
}

body {
	font-family: "pembroke", sans-serif;
	margin: 0;
}

header {
	background-color: #1a1f3a;
	padding: 0.5em 1.3em 0em 1.3em;
	color: white;
}

header img {
	cursor: pointer;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 13%;	
}

div {
	position: relative;
}

h1 {
	font-family: aspect, sans-serif;
    font-weight: 400;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 6px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
	line-height: 0.9;
	position: absolute;
	margin-left: 7.5%; 
	margin-right: 25%;
}

#bigimg {
	max-width: 100%;
}

/*navigatie*/
nav {
	display: flex;
}

li a {
	background-color: #32415f;
	padding: 1em;
	text-decoration: none;
	display: inline-block;
	color: white;
	margin: 0em 0.06em;
	font-weight: 700;
}

header ol {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}

li a:hover {
	background-color: #505c76;
	border-top: 0.25em solid #fbdd0d;
	padding: 0.7em 1em 1em 1em;
}

#verhalen,
#favorieten,
#profiel {
	border-top: 0.25em solid #fbdd0d;
	padding: 0.7em 1em 1em 1em;
}

/*onderheader*/
input[type="search"],
select{
	text-align: center;
	max-height: 3em;
	margin: 0.4em 0em 0em 0.7em;
	font-size: 0.8em;
}

input[type="search"] {
	max-width: 35%;
}

input[type="search"]:focus {
	background-color: #D4F1F5;
}
	
/*afbeeldingen artikels*/
.verhaal1,
.verhaal2,
.verhaal3,
.verhaal4 {
	display: block;
	margin: auto;
	width: 100%;
	position: relative;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.download1,
.download2,
.download3,
.download4 {
	width: 12%;
	margin: 0em 0em 1em auto;
	position: relative;
}

.stars4,
.stars3 {
	width: 60%;
	margin: 1em 1em 1em 1.2em;
}

/*main*/
main {
	margin: 1em auto;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	max-width: 960px;
}

article {
	width: 100%;
	margin: 10px 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
	border-width: 0px 1px 1px;
	border-style: solid solid solid;
	border-color: rgb(232, 232, 232) rgb(232, 232, 232) rgb(232, 232, 232);
	border-image: initial;
	border-top: 0px;
	background: rgb(255, 255, 255);
	border-radius: 14px 14px 8px 8px;
}

/*titel artikel*/
article h2 {
	color: #384664;
	margin: 1em 1em 1em 0.7em;
    font-weight: 700;
	font-size: 22px;
	box-sizing: border-box;
	display: block;
	font-weight: 700;
	line-height: 24px;
}

article p {
	box-sizing: border-box;
	margin: 1em;
}

/*buttons*/
button {
	color: #56575b;
	background-color: #fbdd0d;
	border: none;
	padding: 1em 2em;
	margin: 1em;
	transition: 0.2s ease-out 0s;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: rgb(210, 184, 43) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
    color: rgb(85, 86, 90);
	letter-spacing: 0.03em;
	font-weight: 700;
}

li a, button {
	cursor: pointer;
}

body button:nth-child(6) {
	position: fixed;
	width: 10em;
	bottom: 0.1em;
	left: 50%;
	margin-left: -5em; /*bron: https://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
}

form:first-of-type button {
	margin: 0.2em 0em 0em 0.5em;
}

button:hover {
	background-color: #ffeb6b;
}

/*forms*/
input[type="range"] {
	cursor: pointer;
	transition: opacity .2s;
	opacity: 0.7;
}

input[type="range"]:hover {
	opacity: 1;
}


input[type="checkbox"] {
	cursor: pointer;	
}

label:hover {
	background-color: darkgrey;
}

form:first-of-type {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 1em 0.5em;
	background-color: #24b6c9;
}

form:nth-of-type(2) {
	background-color: #384664;
	color: white;
	padding: 0em 1em;
	margin: 1.6em 1em 0em 1em;
	max-width: 25%;
	border-radius: 14px 14px 8px 8px;
}

form:nth-of-type(2) fieldset {
	border: none;
	padding: 0;
}

form:nth-of-type(2) label {
	font-size: 1.2em;
}

form:nth-of-type(2) p {
	font-size: 1.5em;
}

#sfeer, #kleur {
	display: block;
	margin-top: 1em;
	font-size: 1.5em;
}

form p {
	border-bottom: 0.15em solid #fbdd0d; 
	text-align: center;
	margin: 1em auto;
	padding: 0.3em 0em;
	max-width: 55%;
}

/*mediaqueries*/

@media screen and (max-width: 600px) {
  form:nth-of-type(2) {
    display: none;
  }
}

@media(min-width:600px) {
	article {
		width: 45%;
	}
	body button:nth-child(6){
		display: none;
	}
	
    ol:first-child {
	    margin-left: 5%;
    }
	select {
		margin-right: auto;;
	}
	header img {
		margin-left: 19%;
	}
	h1 {
		margin-right: 44.5%;
	}
	form:nth-of-type(2) {
	    float: left;
	}
	input[type="search"] {
		margin-left: auto;	
	}
	header img {
		margin-left: 5%;
	}
} 

@media(min-width:850px) {
	article {
		width: 30%;
	}
	 ol:first-child {
	    margin-left: 15%;
    }
	header img {
		margin-left: 15%
	}
}

@media(min-width:960px) {
	h1 {
		font-size: 2.5em;
		text-align: left; 
		margin-left: 15%;
	}
	form:first-of-type button {
		margin-right: 15.5em;
	}
}